{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h3>Imagen de oso</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ab sit in quod, perferendis fuga facilis nulla natus temporibus, voluptatem voluptates quis? Perspiciatis voluptate harum, repellat sapiente nesciunt totam repudiandae!</p>
    </div>

    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/oso.jpg" alt="">
    </div>
</div>

{{> footer}}